img {
    width: 200px;
}
body {
    background-color: lemonchiffon;
    text-align: center;
    font-family: monospace;
    color:lightskyblue;
}
h1 {
    color: lightskyblue;
    text-align: center;
}
p {
    font-family: monospace;
    font-size: 20px;
}
